body {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #333333;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
}

.reasons-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: #000000;
}

.hotel-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #000000;
}