*, *:before, *:after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
.content-box-component {
    box-sizing: content-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    text-transform: uppercase;
    color: #333333;
    background-color: #f2f2f2;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
}

.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.2);
}

/*Общие стили для кнопок*/
.btn {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #669ec0;
}

.btn:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.brown-btn {
    background-color: #766357;
}

.brown-btn:hover,
.brown-btn:focus {
    background-color: #604e43;
}

.brown-btn:active {
    background-color: #503e33;
}

/*Исчезновение плейсхолдера при фокусе*/
input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0;
}

input[type=text]:focus::-moz-placeholder {
    opacity: 0;
}

input[type=text]:focus:-ms-input-placeholder {
    opacity: 0;
}

/*Стилизация главной страницы*/
.main-navigation {
    position: relative;
    color: #000000;
    background-color: #ffffff;
}

.main-navigation .main-header-logo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: inline-block;
    vertical-align: middle;
    width: 138px;
    height: 70px;
    margin: 0 auto;
}

.main-navigation .site-navigation {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 0 6%;
    margin: 0;
}

.site-navigation li {
    width: 20%;
    margin: 15px 0;
}

.site-navigation li:nth-child(2) {
    margin-right: 20%;
    padding-left: 30px;
}

.site-navigation li:nth-child(3) {
    padding-right: 32px;
}

.site-navigation li:nth-child(3),
.site-navigation li:nth-child(4),
.site-navigation li:nth-child(5n+3),
.site-navigation li:nth-child(5n+4) {
    text-align: right;
}

.site-navigation li:nth-child(5n+7) {
    text-align: center;
}

.site-navigation a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.site-navigation-active a {
    color: #766357;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color:  #81b3d2;
    outline: none;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    background: url(../img/index-bg-1.jpg) 0 -56px no-repeat #81b3d2;
    background-size: cover;
}

.intro .mask {
    position: relative;
}


.intro .mask::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 1200px;
    height: 57px;
    background: url(../img/index-bg-2.png) bottom left no-repeat;
}

.intro img {
    align-self: center;
    width: 458px;
    height: 352px;
    margin: 77px auto 79px auto;
}

.reasons {
    text-align: center;
    background-color: #ffffff;
}

.reasons .reasons-info {
    max-width: 50%;
    margin: 60px auto 50px auto;
}

.reasons-info p {
    line-height: 26px;
}

.reasons-info .reasons-slogan {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    font-weight: 700;
    color: #000000;
    margin: 27px 0;
}

.reasons .reasons-title{
    max-width: 54%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 700;
    margin: 22px auto;
}

.reason-info .reason-number {
    display: block;
    margin: 21px 0;
}

.reason .reason-info-white {
    display: flex;
    color: #ffffff;
    background-color: #81b3d2;
}

.reason .reason-info {
    width: 33.33%;
    padding: 27px 60px 45px;
}

.reason-info-white .reason-info-bridge {
    padding-right: 45px;
    padding-left: 45px;
}

.reason-info-bridge .reasons-title {
    margin: 20px auto 22px auto;
}

.reason-info-white .reason-photo {
    max-width: 800px;
    max-height: 256px;
    width: 66.66%;
}

.features .features-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;
}

.features-list .feature-item {
    position: relative;
    max-width: 33.33%;
    padding: 137px 50px 50px 50px;
}

.feature-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 75px;
    height: 72px;
}

.feature-item:nth-of-type(1)::before {
    top: 61px;
    left: 162px;
    background: url("../img/icon-1.svg") 0 0 no-repeat;
}

.feature-item:nth-of-type(2)::before {
    top: 62px;
    left: 158px;
    background: url("../img/icon-2.svg") 0 0 no-repeat;
}

.feature-item:nth-of-type(3)::before {
    width: 64px;
    height: 76px;
    top: 57px;
    left: 168px;
    background: url("../img/icon-3.svg") 0 0 no-repeat;
}

.features .reasons-title {
    margin: 24px auto;
}

.reasons .several-reasons {
    display: flex;
    flex-wrap: wrap;
    background-color: #eeeeee;
}

.several-reasons .reason-info {
    width: 33.33%;
    padding: 27px 60px 44px;
}

.several-reasons .reasons-title {
    margin: 19px auto;
}

.several-reasons .reason-number {
    margin: 23px 0 22px 0;
}

.search-hotel {
    text-align: center;
    background-color: #ffffff;
}

.search-hotel .search-hotel-info {
    line-height: 24px;
    margin: 51px 0 47px;
}

.search-hotel-info b {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: #000000;
}

.search-hotel-info p {
    margin: 25px 0;
}

.search-hotel .search-btn {
    max-width: 575px;
    padding: 30px 140px;
}

.search-hotel .search-hotel-form {
    position: relative;
    width: 570px;
    margin: 0 auto;
}

.search-hotel-form .search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 570px;
    margin: 0 auto;
}

.search-form-visible {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-align: start;
    color: #000000;
    background-color: #ffffff;
    padding: 55px;
    box-shadow: 0 0 15px 2px rgba(0,0,0,0.2);
}

.search-form-hidden {
    display: none;
}

.search-form-visible label {
    padding: 5px 0;
    cursor: pointer;
}

.search-form-visible input {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    background-color: #f2f2f2;
    border: none;
}

.search-form-visible .search-form-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.search-form-item input {
    width: 346px;
    padding: 5px 40px 5px 10px;
}

.search-form-visible input[type=text]:hover {
    background-color: #ebebeb;
}

.search-form-visible input[type=text]:focus {
    background-color: #ffffff;
    outline: none;
    box-shadow: inset 0 0 0 1px #e5e5e5;
}

.search-form-item .calendar {
    position: absolute;
    right: 0;
    bottom: 0;
    fill: #cacaca;
    background-color: transparent;
    border: none;
    margin-right: 4px;
    margin-bottom: 1px;
    cursor: pointer;
}

.search-form-item .calendar:hover,
.search-form-item .calendar:focus {
    fill: #000000;
    outline: none;
}

.search-form-item .calendar:active {
    fill: #81b3d2;
}

.persons {
    margin: 3px 0 30px 0;
}

.persons,
.persons-wrapper {
    display: flex;
}

.persons-number {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-content: center;
}

.persons-number input {
    width: 38px;
    height: 38px;
    text-align: center;
}

.persons-number:nth-of-type(2) {
    width: 40%;
    margin-left: 50px;
}

.search-form-visible .persons-btn {
    width: 38px;
    height: 38px;
    color: #cacaca;
    background-color: #f2f2f2;
}

.search-form-visible .persons-btn:hover,
.search-form-visible .persons-btn:focus {
    color: #000000;
    outline: none;
}

.search-form-visible .persons-btn:active {
    color: #81b3d2;
}

.search-form-visible input::-webkit-input-placeholder {
    color:#000000;
}

.search-form-visible input::-moz-placeholder {
    color:#000000;
    opacity: 1;
}

.search-form-visible input:-ms-input-placeholder {
    color:#000000;
}

.search-form-visible .search-form-btn {
    padding: 16px;
    margin-top: 24px;
}

.map {
    width: 100%;
    height: 593px;
    background: url("../img/map.jpg") 0 0 no-repeat;
}

.map iframe {
    border: none;
}

.main-footer {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.index-main-footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
}

.main-footer section {
    display: flex;
    width: 33.33%;
    margin: 37px 0;
}

.main-footer .footer-hashtag {
    margin-bottom: 39px;
}

.footer-hashtag a {
    display: inline-block;
    vertical-align: middle;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
}

.footer-hashtag a,
.footer-copyright p {
    margin: auto;
}

.main-footer .footer-social {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: auto;
}

.footer-social li {
    position: relative;
    margin-left: 5px;
}

.footer-social li:first-child {
    margin-left: 0;
}

.footer-social .social-btn {
    display: inline-block;
    vertical-align: middle;
    width: 47px;
    height: 47px;
    outline: none;
}

.footer-social .social-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.footer-social .social-twitter-btn::before {
    top: 16px;
    left: 15px;
    width: 17px;
    height: 15px;
    background: url(../img/social/twitter.svg) 0 0 no-repeat;
}

.footer-social .social-facebook-btn::before {
    top: 12px;
    left: 17px;
    width: 12px;
    height: 22px;
    background: url(../img/social/fb-icon.svg) 0 0 no-repeat;
}

.footer-social .social-youtube-btn::before {
    top: 15px;
    left: 13px;
    width: 20px;
    height: 16px;
    background: url(../img/social/youtube.svg) 0 0 no-repeat;
}

.social-btn:active::before {
    opacity: 0.3;
}

.copyright-btn {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
    outline: none;
}
.copyright-btn svg {
    width: 115px;
    height: 41px;
    vertical-align: middle;
}

.copyright-btn:hover svg,
.copyright-btn:focus svg {
    fill: #81b3d2;
}

.copyright-btn:active svg {
    fill: #000000;
    opacity: 0.3;
}

/*Стилизация внутренней страницы - отели*/
.filters {
    color: #ffffff;
    background: url(../img/filter-bg.jpg) 0 -55px no-repeat #81b3d2;
    background-size: cover;
}

.filters .filter {
    display: flex;
    flex-wrap: wrap;
    padding: 26px 6% 7px;
}

.filter fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

.filter .filter-services {
    margin-right: 118px;
}

.filter .filter-container:nth-child(2) {
    flex-grow: 1;
}


.filter legend,
.filter .price-value-title {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 26px;
}

.filter .filter-list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.filter-type .filter-list {
    margin-left: 2px;
}

.filter-list .filter-option {
    margin-bottom: 25px;
}

.filter-option label{
    position: relative;
    padding-left: 40px;
    cursor: pointer;
}

.filter-input + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 23px;
    height: 23px;
    background-image: url(../img/icon-checkbox-off.svg);
}

.filter-input:checked + label::after {
    content: "";
    position: absolute;
    top: -2px;
    left: 0;
    display: block;
    width: 27px;
    height: 23px;
    background-image: url(../img/icon-checkbox-on.svg);
}

.filter-input:disabled + label,
.filter-input:disabled + label::after {
    opacity: 0.3;
    cursor: default;
    -moz-user-select: none;
    user-select: none;
}

.price-value {
    display: flex;
    flex-direction: column;
    max-width: 323px;
    margin-bottom: 32px;
}

.price-value .price-value-title {
    margin-left: 7px;
    margin-bottom: 10px;
}

.price-value .price-value-list {
    display: flex;
    width: 320px;
    list-style: none;
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 0;
    margin: 0 0 20px 4px;
}

.price-value-list li {
    position: relative;
    width: 100%;
    padding: 5px 0 5px 50px;
}

.price-value-list li:nth-of-type(1) {
    padding-left: 65px;
}

.price-value-list li:nth-of-type(1)::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: 3px;
    display: block;
    width: 2px;
    height: 22px;
    background-color: #ffffff;
}

.price-value-list label {
    cursor: pointer;
}

.price-value-list input[type=text] {
    max-width: 70px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
    border: none;
    padding-right: 10px;
}

.price-value input[type=text]:focus {
    outline: none;
}

.price-value input::-webkit-input-placeholder {
    color:#ffffff;
}

.price-value input::-moz-placeholder {
    color:#ffffff;
    opacity: 1;
}

.price-value input:-ms-input-placeholder {
    color:#ffffff;
}

.price-value .range-controls {
    position: relative;
    margin-left: 5px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.2);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-controls .controller {
    position:absolute;
    top: -10px;
    left: 0;
    display: block;
    width: 20px;
    height: 22px;
    background: url("../img/filter-btn.svg") 0 0 no-repeat;
    cursor: pointer;
}

.range-controls .controller-max {
    left: 80%;
}

.range-controls .controller:hover {
    width: 22px;
    height: 24px;
    background-size: cover;
}

.filters-btn {
    display: block;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
    border: 2px solid #ffffff;
    border-radius: 3px;
    padding: 5px 35px 5px 33px;
    margin: 20px 28%;
}

.filters-btn:hover,
.filters-btn:focus {
    color: #000000;
    background-color: #ffffff;
}

.hotels {
    color: #000000;
    background-color: #ffffff;
}

.sorting {
    display: flex;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    padding: 11px 6% 6px;
}

.sorting .result {
    max-width: 120px;
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    margin: 18px 47px 18px 0;
}

.sorting .sorting-type {
    display: flex;
    flex-wrap: wrap;
    max-width: 60%;
    margin: 25px 50px 25px 0;
}

.sorting-type span {
    margin-right: 40px;
}

.sorting-list li {
    margin-right: 33px;
}

.sorting-list li:last-child {
    margin-right: 0;
}

.sorting-type .sorting-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sorting-list-active .sorting-item {
    color: #81b3d2;
    text-decoration: none;
}

.sorting-list a {
    outline: none;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: underline;
    text-decoration-color: #81b3d2;
    text-decoration-style: dotted;
}

.sorting-list a:hover,
.sorting-list a:focus {
    color: #81b3d2;
}

.sorting-list a:active {
    color: #000000;
    text-decoration: none;
}

.arrows {
    margin-left: auto;
}

.arrows ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
    margin: 25px 0;
}

.arrows li {
    margin-left: 12px;
}

.arrows .arrow {
    outline: none;
}

.arrow svg {
    fill: #cacaca;
}

.arrow-active svg {
    fill: #81b3d2;
}

.arrow:hover svg,
.arrow:focus svg {
    fill: #000000;
}

.arrow:active svg {
    fill: #81b3d2;
}

.hotel-item {
    display: flex;
    border-top: 1px solid #e5e5e5;
    padding: 30px 6%;
}
.hotel-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.hotel-item .hotel-photo {
    max-width: 135px;
    max-height: 90px;
    margin-right: 30px;
}

.hotel-item .hotel-title {
    margin-top: -5px;
    margin-bottom: 7px;
}

.hotel-title a {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    outline: none;
}

.hotel-title a:hover,
.hotel-title a:focus {
    color: #81b3d2;
}

.hotel-title a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-info .hotel-info-text {
    margin-bottom: 14px;
}

.hotel-info .hotel-info-text,
.hotel-info .hotel-info-buttons{
    display: flex;
    flex-wrap: wrap;
}

.hotel-info-text span {
    min-width: 110px;
    margin-right: 6px;
}

.hotel-info-buttons .btn {
    font-family: "PT Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    font-weight: 700;
    color: #ffffff;
    padding: 3px 17px;
}

.hotel-info-buttons .btn:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-info-buttons .more-btn {
    margin-right: 5px;
}

.rating {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 96px;
    margin-left: auto;
}

.rating .rating-stars {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 46px 0;
}

.rating-stars .rating-star {
    width: 18px;
    height: 17px;
    background: url("../img/star.svg") 0 0 no-repeat;
    margin-left: 6px;
}

.rating-number {
    align-self: flex-start;
    color: #666666;
    background-color: #f2f2f2;
    padding: 3px 13px;
}